<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>RainCoffee</title>
     <link href="static/style.css" rel="stylesheet" />
</head>

<body>
     <nav class="navigation">
          <div class="logo">
               RainCoffee
          </div>

          <ul>
               <li>Home</li>
               <li>About</li>
               <li>Contact Us</li> 
               <li><a href="/login" class ="login">Log In</a></li>
          </ul>
     </nav><br><br><br><br><br><br><br><br><br><br><br><br>

     <h1>One Step Away<br> from Feeling Better</h1>
     <div class="test">
          <a href="http://stackoverflow.com"><button class="start-button">Get Started!</button></a>
     </div><br><br><br><br><br><br><br><br><br><br><br><br>

      <hr class="bruh"><br><br>

     
  <div class="section1">
       <div class="box1">
            <p>We give motivational alerts, <br>ahead of time</p>
           <img src="static/2.png" width="70%" height="70%">
            
       </div>
    <div class="box1" style="height: 150px !important;">
          <h1>Why Us?</h1>
          
     </div>
  
       <div class="box2">
            <p>Log your emotions</p>
            <img src="static/1.png" width="80%" height="80%">
            
       </div>
    </div>

  <div class="section2">
     <div class="box3">
          <p>Let your therapist see your logs</p>
          <img src="static/3.png" width="80%" height="80%">
     </div>
     <div class="box1" style="height: 100px !important;">
          <h2>"It just clicks."</h2>
          
     </div>

     <div class="box4">
          <p>Privacy Ensured. Data Secured</p>
          <img src="static/4.png" width="70%" height="70%">
     </div>
  </div>


     <h7>‎</h7>

     <footer class="footer">
          <ul>
               <li><a href="/Careers">Careers</a></li>
               <a href="/login"><li>Newsletters</li></a>
          </ul>

          <div class="copywrite">
               All Rights Reserved ©
          </div>

          <ul>
               <a href="/Resources"><li>Resources</li></a>
               <a href="/Resources"><li>Links</li></a>
          </ul>
     </footer>



</body>

</html>