<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Resources:</h1>
  <p>https://www.advancehealth.ca/<br>
     https://www.firstsession.com/</p>

  <footer class="footer">
          <ul>
               <li><a href="/Careers">Careers</a></li>
               <a href="/login"><li>Newsletters</li></a>
          </ul>

          <div class="copywrite">
               All Rights Reserved ©
          </div>

          <ul>
               <a href="/Resources"><li>Resources</li></a>
               <a href="#"><li>Links</li></a>
          </ul>
     </footer>
</body>
</html>