<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://easycss.bookie0.repl.co/light.css" rel="stylesheet" type="text/css">
  <title>Signup</title>
      <link href="static/style.css" rel="stylesheet" type="text/css" />

</head>

<center>
<body>
  <nav class="navigation">
          <div class="logo">
               [team name]
          </div>

          <ul>
               <li>Home</li>
               <li>About</li>
               <li>Contact Us</li> 
               <li><a href="signin.html">Log In</a></li>
          </ul>
     </nav>
  
  <div class="signin">
    <form method="POST">
    <h3 style="font-size:60px !important;">Sign Up!</h3>
    <p>
      Already a member? <span><a href="signup.html">Sign In!</a></span>
    </p>
    <h3>
    Email: <input class="text"type="text" placeholder="Email" value="" name="email"/>
      </h3>
    <p>
    Password: <input class="text" type="text" placeholder="Password" value="" name="password"/>
      </p>
    <button type="submit" value="Submit"/>Submit</button>
      </form>
    </div>
  
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <footer class="footer">
          <ul>
               <li><a href="/Careers">Careers</a></li>
               <a href="/login"><li>Newsletters</li></a>
          </ul>

          <div class="copywrite">
               All Rights Reserved ©
          </div>

          <ul>
               <a href="/Resources"><li>Resources</li></a>
               <a href="/Resources"><li>Links</li></a>
          </ul>
     </footer>

  <footer class="footer">
          <ul>
               <li><a href="/Careers">Careers</a></li>
               <a href="/login"><li>Newsletters</li></a>
          </ul>

          <div class="copywrite">
               All Rights Reserved ©
          </div>

          <ul>
               <a href="/Resources"><li>Resources</li></a>
               <a href="#"><li>Links</li></a>
          </ul>
     </footer>
</body>
</html>
</center>